body {
  font-family: 'Segoe UI';
  background: #2996b1;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: 'Segoe UI';
  color: rgb(68, 66, 66);
}

select {
  font-family: 'Segoe UI';
  padding: 8px;
  margin: 20px 0;
  border-radius: 10px;
  color: white;
  background-color: rgb(68, 66, 66);
}

ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

li {
  background: rgb(68, 66, 66);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  align-items: center;
}

li span {
  color: aliceblue;
}

input[type='checkbox'] {
  margin-right: 10px;
}
