body {
  font-family: Arial, sans-serif;
  background: #111111;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: rgb(90, 88, 88);
}

select {
  padding: 8px;
  margin: 20px 0;
  border-radius: 10px;
  color: rgb(90, 88, 88);
  background-color: aqua;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

li {
  background: rgb(90, 88, 88);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  align-items: center;
}

li span {
  color: aliceblue;
}

input[type='checkbox'] {
  margin-right: 10px;
}
